#container, #canvas {
    width: 960px;
    margin: auto;
    background-color: #3AA;
}

body {
    background-color: #377;
    margin: 0;
    padding: 0;
}

.control_input {
    position: absolute;
    margin-left: -450px;
    margin-top: -200px;
    padding: 0 25px;
    width: 850px;
    left: 50%;
    background-color: #F1F1F1;
    color: #333;
    top: 50%;
    z-index: 2;
}

.pushButton {
    height: 200px;
    margin: 0;
    padding: 0;
    width: 900px;
    border: 0;
    background-color: #F1F1F1;
    color: #555;
    font-size: 150px;
}

#trash {
    bottom: 305px;
    right: 5px;
    position: absolute;
    padding: 50px;
}

#word {
    height: 300px;
    width: 960px;
    margin: auto;
    background-color: #D9D9D9;
    color: #333;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 125px;
}

.word_span {
    color: #3A3;
}
